.css-8atqhb {
    // width: 70% !important;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    a {
        text-transform: none !important;
        border-bottom: 2px solid transparent;
    }
    a:hover {
        border-bottom: 2px solid #ffbb00;;
    }
    .css-1ujnqem-MuiTabs-root {
        border-bottom: 0.5px solid #1976d2;
    }
}